
body {
    background: url('images/background2.jpg');
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.move {
    position: absolute;
}

#comet {
    top: 0;
    right: 0;
}

#ufo {
    bottom: 0;
}

#asteroid {
    margin-top: 5rem;
}

#asteroid2 {
    margin-top: 30rem;
    right: 0;
}
#astronaut {
    z-index: 2;
}
